.productCard {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5vmax;
  border-radius: 5px;
  text-decoration: none;
  background-color: #fff;
}
.image-box {
  width: 100%;
  height: 70%;
  overflow: hidden !important;
  margin: 0 !important;
}
.image-box img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5vmax;
  height: 30%;
  font-family: var(--para-font);
}
.product-details p {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  font-family: var(--para-font);
}
.sub-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10px;
}
.red {
  font-weight: 700;
  font-size: 1.125rem;
  color: black;
}
.btn {
  color: white;
  border: none;
  width: 100px;
  font: 300 max(0.8vmax, 12px) "Roboto";
  cursor: pointer;
  border-radius: 30px;
}
.products {
  gap: 1vmax;
}
@media screen and (max-width: 600px) {
  .products {
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 475px) {
  .productCard {
    flex-direction: row;
    width: 90vw;
    height: 180px;
    border-radius: 0;
  }
  .image-box {
    height: 100% !important;
    width: 40%;
    border-bottom: 0;
  }
  .image-box img {
    height: 100%;
    margin: 0;
  }

  .products {
    gap: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
    flex-direction: row;
  }
  .product {
    border: 1px solid #e0dede;
    box-shadow: 0 2px 3px #000;
    border-radius: 5px;
  }
  .product-details p {
    font-size: 0.9rem;
  }
  .red {
    font-size: 1rem !important;
  }
  .product-details span {
    font-size: 0.7rem;
  }
  .image-box {
    height: 50%;
  }
  .product-details {
    width: 60%;
    padding-top: 2.5vmax;
  }
}
