.shopCard {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5vmax;
  text-decoration: none;
  border-radius: 5px;
}
.featuredImage {
  width: 100%;
  height: 65%;
  overflow: hidden;
  margin: 0 !important;
  border-radius: 5px;
  overflow: hidden;
}
.featuredImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
  padding: 0.5vmax;
  gap: 0.5vmax;
}
.shopDetails p {
  font-size: 1.1rem;
  font-weight: 700;
  font: 700 max(1.1vmax, 1rem) "roboto";
  color: #000;
}

.shops {
  display: flex;
  flex-wrap: wrap;
  gap: 1vmax;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vmax;
}
@media screen and (max-width: 700px) {
  .shops {
    justify-content: center;
  }
}
@media screen and (max-width: 475px) {
  .shopCard {
    width: 150px;
    height: 200px;
  }
  .shops {
    gap: 2vmax;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .shop {
    border: 2px solid #e0dede;
    box-shadow: 0 2px 3px #000;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .shopDetails p {
    font-size: 0.9rem;
  }
  .shopDetails span {
    font-size: 0.7rem;
    margin: 0.2rem 0;
  }
}
